.container-mobile {
  max-width: 360px;
  padding: 0 10px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.container-mobile-wrap {
  display: none;

  justify-content: space-between;
  flex-direction: row;
  border-radius: 60px;
  background: rgba(255, 255, 255, 0.2);
}

.container-mobile-wrap-open {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 84px;
}
@media (max-width: 430px) {
  .header-mobile {
    display: block;

    padding-top: 10px;
  }
  .container-mobile-wrap {
    display: flex;
  }
}

.header-mobile-open {
  background: #000;

  padding-top: 10px;
}

.header-mobile-item {
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 90%; /* 21.6px */
}

.header-mobile-list {
  padding-left: 20px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 104px;
}

.header-mobile-icons {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 100px;
}
/* //////////////////////////// */
.header__icon-sub {
  border-radius: 41px;
  background: #fff;
  padding: 7px 7px 7px 16px;
  width: 100%;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.header__icon-sub:nth-child(2) {
  gap: 45px;
}
.header__icon-sub:nth-child(3) {
  gap: 55px;
}
.header__icon-sub:nth-child(4) {
  gap: 80px;
}
.header-mobile-icon-open {
  background-color: #000;
  color: white;
  width: 300px;
  border-radius: 41px;
  border: 1px solid #fff;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 65px;
}

.header-mobile-open {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;

  height: 100vh;
  background: #000;
  z-index: 9999;
  transition: left 0.4s ease-out;
  overflow-y: auto;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.header-mobile-open.show {
  left: 0;
}
